$eureko-blue: #00468A;
$eureko-blue2: #5490eb;
$eureko-blue3: #367dd5;
$eureko-blue4: #0d61ba;
$eureko-blue5: #004288;
$eureko-blue6: #004fa3;
$eureko-blue7: #0c5aa7;
$light-bg1: #ffffff;
$light-bg2: #fbfbfb;
$light-bg3: #69c6ee;
$light-bg4: #f5fcff;
$light-bg5: #9ca4ab;
$light-bg6: #f6fbfd;
$light-bg7: #eff4f7;
$light-bg8: #f3f9fd;
$light-bg9: #edf9fe;
$light-bg10: #f1fbfe;
$light-bg11: #feffff;
$light-bg12: #F8F8F8;
$light-bg13: #F4F4F4;
$light-bg14: #fafafa;
$light-bg15: #FBFBFBE0;
$light-bg16: #EEF6E1;
$light-bg17: #EEEEEE;
$light-bg18: #F9F9F9;
$light-bg19: #CDCDCD;
$light-bg20: #f5f5f5;
$dark-bg1: #000;
$dark-bg2: #004894;
$dark-bg3: #0d60b8;
$dark-bg4: #003874;
$dark-bg5: #6EAB15;
$text-color1: #1f252b;
$text-color2: #69c6ee;
$text-color3: #7c899d;
$text-color4: #fff;
$text-color5: #283136;
$text-color6: #85b2e3;
$text-color7: #8bbe41;
$text-color8: #b8c5ca;
$text-color9: #004fa3;
$text-color10: #c2d7e0;
$text-color11: #979797;
$text-color12: #6EAB15;
$text-color13: #7c899d;
$text-color14: #ff8c43;
$text-color15: #404040;
$text-color16: #b7b7b7;
$text-color17: #e3e3e3;
$text-color18: #6C6C6C;
$text-color19: #D7D7D7;
$text-color20: #4C7A0A;
$text-color21: #E76410;
$btn-primary: #0c5aa7;
$btn-primary-hover: #0d61ba;
$btn-primary-active: #004288;
$btn-primary-disable: #b8c5ca;
$btn-primary-visited: #004fa3;
$btn-light: #a8c2dc;
$btn-light-hover: #0d61ba;
$btn-light-active: #004288;
$btn-light-disable: #b8c5ca;
$btn-info: #69c6ee;
$btn-info-hover: #0d60b8;
$btn-info-active: #0d60b8;
$btn-info-disable: #000000;
$border-color1: #d5dfe5;
$border-color2: #b9c6d4;
$border-color3: #a8c2dc;
$border-color4: #cfdee4;
$border-color5: #d8d8d8;
$border-color6: #e52226;
$border-color7: #d7e4e9;
$border-color8: #d3dade;
$border-color9: #dde8ef;
$border-color10: #69c6ed;
$border-color11: #ff5800;
$border-color12: #DFDFDF;
$border-color13: #EDEDED;
$border-color14: #DCDCDC;
$border-color15: #E6E3E3;
$divider-color1: #D9D9D9;
$hover-color1: #F1F1F1;
body {
    margin: 0;
    padding: 0;
}